body {
    background-color: #f5fafa;
    margin: 0px;
}

.first {
    height: 20px;
    width: 100%;
    background-color: #ef9273;
}

header {
    display: flex;
    justify-content: space-between;
}

.menu a {
    text-decoration: none;
    color: #0d0d0d;
    font-weight: 1000;
    font-family: 'Sansita Swashed', cursive;
    margin-right: 20px;
    position: relative;
    top: 20px;
    left: 20px;
}

.header-mid h1 {
    color: #000C66;
    font-family: 'Sansita Swashed', cursive;
}

.header-right {
    position: relative;
    top: 10px;
    right: 30px;
}

.header-right input {
    height: 25px;
    border-color: #f2f6f7;
    border-radius: 10px;
    width: 200px;
}

.header-right button {
    border-color: transparent;
    background-color: #ef9273;
    color: white;
    font-family: cursive;
    width: 150px;
    border-radius: 10px;
    height: 30px;
    cursor: pointer;
}

article img {
    height: 250px;
    position: relative;
    margin-left: 30px;
    border: 1px solid rgb(211, 205, 205);
    border-radius: 10px;
    width: 300px;
}

.row1 {
    display: flex;
}

.row2 {
    display: flex;
}

.single-img button {
    position: relative;
    left: 100px;
    border-color: transparent;
    background-color: #ef9273;
    color: white;
    font-family: cursive;
    width: 150px;
    border-radius: 10px;
    height: 30px;
    cursor: pointer;
}

.popup,
.popup2,
.popup3,
.popup4,
.popup5,
.popup6,
.popup7,
.popup8 {
    display: flex;
}

.popup .popuptext,
.popup2 .popuptext2,
.popup3 .popuptext3,
.popup4 .popuptext4,
.popup5 .popuptext5,
.popup6 .popuptext6,
.popup7 .popuptext7,
.popup8 .popuptext8 {
    /* visibility: hidden;*/
    display: none;
    width: 200px;
    text-align: center;
}

.popup .show,
.popup2 .show,
.popup3 .show,
.popup4 .show,
.popup5 .show,
.popup5 .show,
.popup6 .show,
.popup7 .show,
.popup8 .show {
    /*visibility: visible;*/
    display: initial;
}

.row1 h3,
.row2 h3 {
    font-family: 'Sansita Swashed', cursive;
    position: relative;
    top: 20px;
    right: 70px;
}
